@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@120,350;120,450;120,700&display=swap');

:root {
    --col-background: #c4c4c4;
    --col-front: #ffffff;
    --col-dimmed-dark: #808080;
    --col-dimmed-light: #a8a8a8;
}

html, body{
    background: var(--col-background);
    user-select: none;
    text-align: center;
}

.container{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    gap: 0.5rem;
}

.non-element {
    font-family: "HelveticaNeue-CondensedBold";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    color: #a8a8a8;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8.5rem;
    height: 12rem;
    border: var(--col-front) solid 0.6rem;
    color: var(--col-front);
}

.element > .symbol {
    font-family: "HelveticaNeue-CondensedBold";
    font-weight: 800;
    font-size: 6.2rem;
    font-weight: bold;
    line-height: 5.5rem;
}

.element.singleletter > .symbol {
    transform: scaleX(1.2);
    -webkit-transform: scaleX(1.2);
}

.element > .number {
    font-family: "HelveticaNeue";
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
}

.element > .weight {
    font-family: "HelveticaNeue";
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.03rem;
}

.element > .name {
    font-family: "HelveticaNeue-CondensedBlack";
    font-weight: 900;
    font-size: 1.6rem;
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
    line-height: 2rem;
    letter-spacing: 0.04rem;
}

#main-textarea {
    font-family: "Inconsolata";
    font-weight: 450;
    font-stretch: 120%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 80%;
    max-width: 25rem;
    height: 6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--col-dimmed-light);
    border: var(--col-dimmed-dark) solid 1px;
    color: var(--col-front);
    resize: none;
}

#main-textarea:focus {
    outline: none;
}

#font-information {
    font-family: "Inconsolata";
    color: var(--col-dimmed-dark);
    font-weight: 350;
    font-stretch: 120%;
    width: 75%;
    margin: 2rem auto 4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#font-information a {
    color: inherit;
}