@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@120,500&display=swap');

:root {
    --color-background: #c9c9c9;
}

html, body{
    background: var(--color-background);
    user-select: none;
    text-align: center;
}

.container{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    gap: 0.5rem;
}

.non-element {
    font-family: "HelveticaNeue-CondensedBold";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
    color: #a8a8a8;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8.5rem;
    height: 12rem;
    border: #ffffff solid 10px;
    color: #ffffff;
}

.element > .symbol {
    font-family: "HelveticaNeue-CondensedBold";
    font-weight: 800;
    font-size: 6.2rem;
    font-weight: bold;
    line-height: 5.5rem;
}

.element.singleletter > .symbol {
    transform: scaleX(120%);
    -webkit-transform: scaleX(120%);
}

.element > .number {
    font-family: "HelveticaNeue";
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
}

.element > .weight {
    font-family: "HelveticaNeue";
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.03rem;
}

.element > .name {
    font-family: "HelveticaNeue-CondensedBlack";
    font-weight: 900;
    font-size: 1.6rem;
    transform: scaleX(80%);
    -webkit-transform: scaleX(80%);
    line-height: 2rem;
    letter-spacing: 0.04rem;
}

#main-textarea {
    font-family: "Inconsolata";
    font-weight: 500;
    font-stretch: 120%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 80%;
    max-width: 25rem;
    height: 6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #a8a8a8;
    border: #808080 solid 1px;
    color: #ffffff;
    resize: none;
}

#main-textarea:focus {
    outline: none;
}

#font-information {
    font-family: "Inconsolata";
    color: #808080;
    font-weight: 500;
    font-stretch: 120%;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

#font-information a {
    color : inherit;
}